<div class="container">
<h3 class="text-center pt-5 ">There are <%= Friend.count %> Friends Available Now</h3>

<div class="index-cards">
  <% @friends.each do |friend| %>
    <%= link_to friend_path(friend) do %>
    <div class="friend-card">
    <% if friend.photo.attached? %>
      <%= cl_image_tag friend.photo.key,
        width: 400, height: 150, crop: :fill, gravity: :face %>
    <% end %>
      <div class="friend-info">
        <h4> <%= friend.name %></h4>

        <p>Age: <%= friend.age %></p>
        <p>Interest: <%= friend.interest %></p>
        <p>Price: £<%= friend.price %> per session</p>

      </div>
    </div>
    <% end %>
  <% end %>
</div>


<%= link_to "back to home", root_path, class: "btn btn-gradient m-3"%></p>
</div>
