<h1 class="p-5 text-center"> Make a new friend! </h1>

<%= simple_form_for(@friend) do |f| %>
  <%= f.input :name %>

  <%= f.input :age %>

  <%= f.input :gender %>
  
  <%= f.input :interest %>
  
  <%= f.input :location %>

  <%= f.input :price %>
  
  <%= f.input :bio %>

  <%= f.submit %>

  <% end %>
