<div class="container">
<h1 class="text-center p-5"><%= @friend.name %></h1>

  <div class="d-flex justify-content-around">
    <div>
      <% if @friend.photo.attached? %>
        <%= cl_image_tag @friend.photo.key,
          width: 400, height: 300, crop: :fill %>
      <% end %>
    </div>
    <div>
    <p><%= @friend.age %> | <%= @friend.gender %> | Location: <%= @friend.location %> | Interest: <%= @friend.interest %></p>
    <p>bio: lorem ipsum</p>
    </div>
  </div>


<h2 class="list-group-item list-group-item-warning mt-5 text-center">Price for the afternoon: £<%= @friend.price %></h2>

<%= simple_form_for [@friend, @booking] do |f| %>
  <%= f.input :start_date%>

  <%= f.input :end_date %>

  <%= f.input :location %>
  
  <%= f.submit %>
  <% end %>

  <%= link_to "Go back", friends_path %>
</div>

<%= link_to "back to index", friends_path %></p>
</div>
</div>
