<br>
<br>
<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <% if @friend.photo.attached? %>
        <%= cl_image_tag @friend.photo.key,
          width: 600, height: 400, crop: :fill,  gravity: :face %>
      <% end %>
    </div>
    <div class="grid">
      <h1 class="text-center p-3"><%= @friend.name %>, <%= @friend.age %></h1>
      <h3 class="text-center p-3"> Listed by: <%= @friend.user.name %></h3>
    <div class="text-center">
      <h2><%= @friend.gender %> <br><%= @friend.location %></h2>
    </div>
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-between">
    <div class="w-50">
      <p>Hello everyone! This is my friend <%= @friend.name %>! <%= @friend.name %> is a really fun person, and loves <%= @friend.interest %>. <%= @friend.name %> would love to get to know you and hang out sometime!</p>
      <p><%= @friend.bio %></p>
        <hr>
    </div>
    <div class="booking-card booking-cards">
      <%= simple_form_for [@friend, @booking] do |f| %>
      <div class="form-start-date-start-date">
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :end_date , as: :string, required: false, input_html: {class: "datepicker"} %>
     </div>

      <%= f.input :location %>
      <%= f.submit "Request this friend!", class: "button-form" %>
      <% end %>
    </div>
  </div>
  <hr>
<%= link_to "back to index", friends_path, class: "btn btn-gradient"%></p>
</div>
</div>
</div>
